Package: com.daydream.tiles
Name: Tiles
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Daydream
Author: Daydream
Section: Tweaks
